.antlr
/Compiler/CM1Compiler_CPP/antlr_runtime/.vs/antlr4cpp-vs2017/v16
/Compiler/CM1Compiler_CPP/antlr_runtime/bin/vs-2015/x64/Debug DLL
/Compiler/CM1Compiler_CPP/antlr_runtime/obj/x64/Debug DLL/antlr4cpp-vs2017
/Compiler/CM1Compiler_CPP/antlr_runtime/packages/Microsoft.Gsl.0.1.2.1
/Compiler/CM1Compiler_CPP/antlr_runtime/antlrcpp.xcodeproj
/Compiler/CM1Compiler_CPP/CM1Compiler_CPP/x64/Debug
/Compiler/CM1Compiler_CPP/DataStructures/Debug
/Compiler/CM1Compiler_CPP/DataStructures/x64/Debug
**/bin
**/obj
**/.idea
**/.vs
**/Debug
**/Release
**/packages
*.log
/Compiler/CM1Compiler_CPP/Parser/
Papers/SDM1/out/
Papers/SDM1/out/article.pdf
/out
/Libraries/out
/Compiler/CM1Compiler_CPP/TestResults
Papers/WUT-Master-Thesis/main.synctex(busy)
Papers/WUT-Master-Thesis/main.app
Papers/WUT-Master-Thesis/main.aux
Papers/WUT-Master-Thesis/main.bbl
Papers/WUT-Master-Thesis/main.bcf
Papers/WUT-Master-Thesis/main.blg
Papers/WUT-Master-Thesis/main.fdb_latexmk
Papers/WUT-Master-Thesis/main.fls
Papers/WUT-Master-Thesis/main.lof
Papers/WUT-Master-Thesis/main.log
Papers/WUT-Master-Thesis/main.lot
Papers/WUT-Master-Thesis/main.out
Papers/WUT-Master-Thesis/main.pdf
Papers/WUT-Master-Thesis/main.run.xml
Papers/WUT-Master-Thesis/main.synctex.gz
Papers/WUT-Master-Thesis/main.toc
Papers/WUT-Master-Thesis/out/
Papers/ICCC-2023/out/
Papers/ENASE-2023/out/
Papers/FEDCIS-2023/out/
Papers/FEDCIS-2023-presentation/out/